<body>
    <header>
    </header>
    <main>
      <div>
        <h1>Create a New Magazine</h1>
      </div>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <div class="control">
          <button class="button">Create</button>
        </div>
      </form>
    </main>
  </body>
</html>